body {
  font-family: Arial, sans-serif;
  background-color: #f3e5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7e57c2;
  padding: 10px 20px;
  color: #fff;
}

.welcome-message {
  font-size: 24px;
  margin: 0;
}

button.logout {
  background-color: #fff;
  color: #7e57c2;
  border: 1px solid #7e57c2;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  margin-left: auto;
}

button.logout:hover {
  background-color: #7e57c2;
  color: #fff;
}

.home-container {
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  color: #7e57c2;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: #7e57c2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #5e35b1;
}


/* NOTES */

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.note-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.note-card p {
  margin: 0 0 10px;
  flex: 1;
}

.note-card button {
  width: auto;
  background-color: #ff5722;
  color: white;
  position: relative;
  margin-left: auto;
}

.note-card button:hover {
  background-color: #d84315;
}

.note-card button i {
  font-size: 18px;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.note-card .delete-button,
.note-card .edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.note-card .delete-button {
  margin-right: 45px;
  color: red;
}

.note-card .edit-button {
  margin-left: 5px;
  color: blue;
}

.note-card .delete-button:hover,
.note-card .edit-button:hover {
  opacity: 0.7;
}


/* HOMEPAGE */

.home-container .btn {
  display: inline-block;
  background-color: #7e57c2;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.home-container .btn:hover {
  background-color: #5e35b1;
}

.header {
  background-color: #7e57c2;
  color: #fff;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.footer {
  background-color: #7e57c2;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-container form {
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  color: #7e57c2;
}

/* ErrorModal CSS */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Modal for Edit Note */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  width: 45%;
}